<div class="ui search">
  {{yield}}
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Buscar paquete..." />
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
