{{#ui-search apiSettings=apiSettings onSelect=(action showPackage)}}
  {{yield}}
  <div class="ui icon input">
    {{input class="prompt" placeholder="Nombre del paquete" type="search" value=search}}
    <i class="search icon"></i>
  </div>
  <div class="results">
  </div>
{{/ui-search}}
