<td class="">{{#link-to "packages.showVersion" distro package.Package}}{{package.Package}}{{/link-to}}</td>
<td class="collapsing">{{package.Component}}</td>
<td class="collapsing">{{archList}}</td>
<td class="collapsing">{{versionList}}</td>
