<td class="">{{#link-to "packages.showVersion" distro package.package}}{{package.package}}{{/link-to}}</td>
<td class="collapsing">{{package.component}}</td>
<td class="collapsing">{{archList}}</td>
<td class="collapsing">{{versionList}}</td>
