<ul>
{{#each packages as |package|}}
  <li>{{#link-to "packages.showVersion" distro package.Package class="label"}}{{package.Package}}{{/link-to}}
    {{package.Version.Text}}
  </li>
{{/each}}
</ul>
