{{repo-header}}

{{repo-search}}

<div class="page-container">
  {{outlet}}
</div>



<div class='footer'>
  Realizado en <a href="http://huayra.conectarigualdad.gob.ar/" target=_blank>huayra</a>.
</div>
